* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6eee3;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  margin: 40px;
  font-weight: bold;
}

h2 {
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
}

h2.instructions {
  margin-bottom: 150px;
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
}

button {
  border: none;
  border-radius: 100%;
  background-color: #f6eee3;
  transition: 0.3s;
}

button:hover {
  background-color: #d9bda5;
}

button img {
  width: 210px;
  height: 210px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 150px;
}

h2.score {
  margin-top: 150px;
  margin-bottom: 50px;
  color: #b19e91;
}

#userScore,
#computerScore {
  color: #b19e91;
}

.players-container {
  display: flex;
  justify-content: center;
  gap: 300px;
}

.computer,
.profile {
  width: 150px;
  height: 150px;
  background-color: #e5cbba;
  border: 3px solid black;
  border-radius: 50%;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 430px;
  margin-top: 20px;
}

#results {
  width: 900px;
  margin: 0 auto;
}
#results h3 {
  margin-top: 75px;
  font-size: 50px;
  text-align: center;
}
